node_modules
.tmp
.sass-cache
heroku
/views
dist
*.iml
*.db
*.pyc
logs
project/project
project/target
target
.target
tmp
.history
dist
/out
/.idea_modules
/.classpath
/.cache
/.project
/RUNNING_PID
/.settings
*.class
/node_modules
public/bower_components
/nbproject
.idea/
.grunt/