<form name="form" novalidate class="login-form">
    <div class="modal-header">
        <h4>Sign in</h4>
    </div>
    <div class="modal-body">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
        <div class="alert alert-info" ng-hide="alerts.length">Please enter your login details</div>
        <label>E-mail</label>
        <input name="login" type="email" ng-model="user.email" required autofocus>
        <label>Password</label>
        <input name="pass" type="password" ng-model="user.password" required>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary login" ng-click="login()" ng-disabled='form.$invalid'>Sign in</button>
        <button class="btn clear" ng-click="clearForm()">Clear</button>
    </div>
</form>
